.debugdrawer-trigger{
	position:fixed;
	width:60px;
	height:60px;
	bottom:calc(#{$panelheight} - 2px);
	right:40px;
	background-color:$bugbg;
	color:#FFF;
	border-radius:50px 50px 0 0;
	text-align:center;
    
    transition-property: all;
	transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.debugdrawer-trigger:hover {
    background-color: rgba($bugbg, 0.8);
}


.debugdrawer-icon-wrapper {
    margin-top: 4px;
}
.debugdrawer-icon {
    fill: $bugfg;
    width: 3rem;
    height: 3rem;
}



.debugdrawer-panel {
    overflow-y: auto;
	background: #F6F6F5;
    position: fixed;
    left: 0;
    bottom: -2px;
    box-sizing: border-box;
    border-top: 2px solid $bugbg;
    -webkit-box-shadow: inset 0px 5px 13px -8px rgba(166,38,57,1);
       -moz-box-shadow: inset 0px 5px 13px -8px rgba(166,38,57,1);
            box-shadow: inset 0px 5px 13px -8px rgba(166,38,57,1);

    height: $panelheight;
    width: 100%;
	transition-property: all;
	transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.debugdrawer-panel-closed {
    height: 0;
}

.debugdrawer-trigger-closed {
    bottom:0%;
 
}

.debugdrawer-panel-contents {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    
}

.debugdrawer-table-wrapper {
 
}