<table class="debugdrawer-table">
    <tbody>
      {{ partial "debugdrawer/td.html" (  slice "site.BaseURL" site.BaseURL) }}
      {{ partial "debugdrawer/td.html" (  slice "site.BuildDrafts" site.BuildDrafts) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Copyright" site.Copyright) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Data" site.Data) }}
      {{ partial "debugdrawer/td.html" (  slice "site.DisqusShortname" site.DisqusShortname) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Home" site.Home) }}
      {{ partial "debugdrawer/td.html" (  slice "site.IsMultiLingual" site.IsMultiLingual) }}
      {{ partial "debugdrawer/td.html" (  slice "site.IsServer" site.IsServer) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Language.Lang" site.Language.Lang) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Language.LanguageName" site.Language.LanguageName) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Language.Weight" site.Language.Weight) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Language" site.Language) }}
      {{ partial "debugdrawer/td.html" (  slice "site.LanguageCode" site.LanguageCode) }}
      {{ partial "debugdrawer/td.html" (  slice "site.LanguagePrefix" site.LanguagePrefix) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Languages" site.Languages) }}
      {{ partial "debugdrawer/td.html" (  slice "site.LastChange" site.LastChange) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Menus" site.Menus) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Taxonomies" site.Taxonomies) }}
      {{ partial "debugdrawer/td.html" (  slice "site.Title" site.Title) }}
    </tbody>
</table>