{{ $context := .context }}
{{ $options := dict }}
{{ with .options }}
    {{ $context.Scratch.Set "debugdrawer-options" . }}
    {{ $options = . }}
{{ end }}

<div class="debugdrawer">
    {{ $debugdrawer := resources.Get "_debugdrawer/styles.scss" | resources.ExecuteAsTemplate "main.scss"  $options | resources.ToCSS }}
    {{ $icon := ( resources.Get "_debugdrawer/debugdrawer.svg" ) }}
    
    <style>
        {{ $debugdrawer.Content | safeCSS }}
    </style>
    
    {{ $panelid := print "debugdrawer" (first 5 (now | md5))}}
    <div onclick="toggleSidebugPanel(this)" class="debugdrawer-trigger debugdrawer-trigger-closed" data-debugdrawerpanel="{{$panelid}}" id="debugdrawertrigger">
        <div class="debugdrawer-icon-wrapper">
            {{ replace $icon.Content "<svg" `<svg class="debugdrawer-icon"` | safeHTML }}
        </div>
    </div>
    
    
    <div class="debugdrawer-panel debugdrawer-panel-closed"  id="{{$panelid}}">
        <div class="debugdrawer-panel-contents">
            {{ with ( .context.Scratch.Get "debugdrawerlayout" )}}<div class="debugdrawer-layout"><h2>Using layout: {{.}}</h2></div>{{ end }}
            {{ partial "debugdrawer/debugtable.html" $context }}
        </div>
    </div>
    
    
     
    {{ $js := resources.Get "_debugdrawer/debugdrawer.js" }}
    <script src="{{ $js.Permalink | safeURL }}"></script>
    
    <script>

        let ddt = document.getElementById("debugdrawertrigger");
        {{ with $options.defaultopen }}
        {{ if . }}toggleSidebugPanel(ddt){{ end }}
        {{ end }}
    </script>
</div>
