{{ $context := .context }}
{{ $options := dict }}
{{ with .options }}
    {{ $context.Scratch.Set "sidebug-options" . }}
    {{ $options = . }}
{{ end }}

{{ $context.Scratch.Get "sidebug-options" }}

<div class="sidebug">
    {{ $sidebug := resources.Get "_sidebug/styles.scss" | resources.ExecuteAsTemplate "main.scss"  $options | resources.ToCSS }}
    {{ $icon := ( resources.Get "_sidebug/sidebug.svg" ) }}
    
    <style>
    {{ $sidebug.Content | safeCSS }}
    </style>
    
    {{ $panelid := print "sidebug" (first 5 (now | md5))}}
    <div onclick="toggleSidebugPanel(this)" class="sidebug-trigger sidebug-trigger-closed" data-sidebugpanel="{{$panelid}}" id="sidebugtrigger">
        <div class="sidebug-icon-wrapper">
            {{ replace $icon.Content "<svg" `<svg class="sidebug-icon"` | safeHTML }}
        </div>
    </div>
    
    
    <div class="sidebug-panel sidebug-panel-closed"  id="{{$panelid}}">
        <div class="sidebug-panel-contents">
            {{ partial "sidebug/debugtable.html" $context }}
        </div>
    </div>
    
    
     
    {{ $js := resources.Get "_sidebug/sidebug.js" }}
    <script src="{{ $js.Permalink | safeURL }}"></script>
    
    <script>
        let b = document.getElementById("sidebugtrigger");
        toggleSidebugPanel(b)
    </script>
</div>
